* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    text-align: center;
    margin-top: 30px;
    line-height: 1.5;
}

.img-box {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 2px solid black;
}

.img-box img {
    width: 100%;
}

.main {
    margin-left: 40px;
    margin-top: 40px;
    line-height: 1.6;
}

.main > div {
    margin-top: 20px;
}

.moto {
    text-align: center;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: 15px 0;
}

.nav li a {
    text-decoration: none;
}

.nav li a:link {
    color: blue;
}